.container
  max-width: 1256px
  // width: 85%
  width: 95%
  margin: auto
  // padding: 0 5.71rem

.row
  display: flex
  align-items: flex-start
  justify-content: space-between

.col
  &-30
    flex-basis: 30%
    margin-right: -0.3rem
  &30
    flex-basis: 33%  
  &31
    flex-basis: 30.5%
  &40
    flex-basis: 41%  
  &60
    flex-basis: 59%
  &-33
    width: 36%
  &-40
    width: 40%
    margin-right: 3.93rem
  &-60
    width: 60%
    margin-top: 22.2px
  &-66
    width: 64%
    margin-top: 7.6rem
    margin-left: 1.6rem
    
