@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none      
    &__button
      display: none
  .title
    font-size: 1.64rem
    letter-spacing: 2.3px
    line-height: 1.6
    &--primary
      letter-spacing: 1.9px
  .hero
    &__content
      max-width: 24.14rem
    &__scroll-down
      display: none
    &__text
      font-size: 1.39rem
      margin-bottom: 2.28rem
      letter-spacing: 0.6px
    &__button
      display: block
      min-width: 28.24rem
      margin-bottom: 1.85rem
      font-size: 1.1rem

@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none