.team
  &__person
    // position: absolute
    display: flex
    flex-direction: column
    text-align: center
    margin: auto
    margin-top: -5rem
    background-color: $light
   
    // padding: 0.59rem 2.14rem
    max-width: 16.64rem
  &__about
    display: flex
    flex-direction: column
    background-color: $light
    font-size: 1.286rem
    padding: 1.64rem 1.43rem
  &__name
    font-family: 'Yeseva One', cursive
    line-height: 25px
  &__position
    color: $secondary
  &__experience
    font-size: 0.93rem
    text-transform: uppercase
    color: $light
    background-color: $primary
    padding: 1rem 0
  &__card
    margin-bottom: 10rem
    

    
